:root {
  --bgClr: #f0f2f5;
  --textClr: #111b21;
  --brandClr: #3182ce;
  --borderClr: #000000;
  --white: #fff;
  --warningClr: #e75900;
  --iconClr: #54656f;
  --chatBg: #eae6df;
}

@font-face {
  font-family: Poppins;
  src: url(./Assets/fonts/Poppins/Poppins-Regular.ttf) format("ttf") url(./Assets/fonts/Poppins/Poppins-Bold.ttf) format("ttf") url(./Assets/fonts/Poppins/Poppins-SemiBold.ttf) format("ttf") url(./Assets/fonts/Poppins/Poppins-Medium.ttf) format("ttf") url(./Assets/fonts/Poppins/Poppins-Light.ttf) format("ttf");
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bgClr) !important;
}

.App {
  min-height: 100vh;
  display: flex;
  color: var(--textClr);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 10px !important;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}